extends layout

block content
  h1= title
  p Bienvenido a #{title}
  p Para iniciar su viaje por este laboratorio, revise el encabezado 
    i X-Siguiente
  p En caso de cualquier error, puede visitar esta página nuevamente para reiniciar el proceso.
